 <script type="text/ng-template" id="dialogo">
    <div class="dialogo" id="dialogo" ng-controller="MainCtrl">
        <h3>Nova ocorr&ecirc;ncia</h3>
        <input type="text"  ng-model="linhaonibus" ng-keyup="buscaOnibus(linhaonibus)" placeholder="linha do &ocirc;nibus">
        <table ng-show="linhaonibus">
          <tr ng-repeat="linha in linhas" ng-class="{selecionada: linha.selecionada}">
            <td ng-model="ocorrencia.linha" ng-click="linhaSelecionada(linha)">{{linha.linhaOnibus}}</td>
          </tr>
          <td><a href="">sugerir nova linha de &ocirc;nibus</a></td>
        </table>     
        <input type="text" ng-model="ocorrencia.descricao" placeholder="descri&ccedil;&atilde;o" required="true">
        <input type="date" ng-model="ocorrencia.data" placeholder="data" required="true">
        <select ng-model="tipo" ng-options="tipo.descricaoCategoria for tipo in tipos" required="true">
         <option value="">tipo da ocorr&ecirc;ncia</option> 
        </select>       
        <button ng-click="cadastrarOcorrencia(ocorrencia)">Cadastrar</button>
      </div>
    </script>  
    <script type="text/ng-template" id="ocorrencia">
      <div>
        <input type="text"  ng-model="ocorrenciaDialogo.linhaOnibus">
        <textarea ng-model="ocorrenciaDialogo.descricaoMarcador"></textarea>
        <input type="text" ng-model="ocorrenciaDialogo.dataMarcador">       
        <input type="text" ng-model="ocorrenciaDialogo.descricaoCategoria"> 
        <input type="text" ng-model="ocorrenciaDialogo.confirmacaoMarcador">
        <button ng-click="confirmacaoOcorrencia()">confirmar ocorr&ecirc;ncia</button>
      </div>
    </script>   
    <script type="text/ng-template" id="confirmacaoOcorrencia">
      <div> 
      confirmar ocorrencia       
        <textarea ng-model="descricaoConfirmacaoOcorrencia" placeholder="contribuir na descri&ccedil;&atilde;o"></textarea>        
        <button ng-click="confirmarOcorrencia(descricaoConfirmacaoOcorrencia)">confirmo</button>
      </div>
    </script>
    <script type="text/ng-template" id="pesquisarOcorrencia">
      <div> 
          <h4>pesquisar ocorrencias </h4>      
          de: <input  type="date" ng-model="pesquisa.dataInicio"></input>    
          <br>   
          até:<input  type="date" ng-model="pesquisa.dataFim"></input>     
          <br>
          todas as linhas:
          <input type="checkbox" checked="on" ng-model="pesquisa.todaslinhas">
          <input type="text"  ng-model="linhaonibus" ng-show="!pesquisa.todaslinhas" ng-keyup="buscaOnibus(linhaonibus)" placeholder="linha do &ocirc;nibus">
          <table ng-show="linhaonibus" ng-if="!todaslinhas">
            <tr ng-repeat="linha in linhas" ng-class="{selecionada: linha.selecionada}">
              <td ng-model="ocorrencia.linha" ng-click="linhaSelecionada(linha)">{{linha.linhaOnibus}}</td>
            </tr>
            <td><a href="">sugerir nova linha de &ocirc;nibus</a></td>
          </table>
          <br>
          todas as ocorrências:
          <input type="checkbox" checked="on" ng-model="pesquisa.todasocorrencias">
          <br>
          <select ng-model="pesquisa.tipoOcorrencia" ng-show="!pesquisa.todasocorrencias" ng-options="tipo.descricaoCategoria for tipo in tipos" required="true">
            <option value="">tipo da ocorr&ecirc;ncia</option> 
          </select> 
          <button ng-click="pesquisarOcorrencia(pesquisa)">pesquisar</button>
      </div>
    </script> 