<div class="container padcima conteudoComentario">
	<div class="row tes">
		<div>
			<figure>
				<figcaption class="bc1">
					<h4 class="cc1">Como cadastrar uma ocorrência?</h4>
					<p>Para cadastrar uma ocorrência, basta selecionar (clicar) no mapa, o local correspondente à ocorrência(com o maior nível de precisão possível). Após isso, preencha os dados da ocorrência e clique em enviar. Pronto! Sua ocorrência será registrada!</p>
				</figcaption>	
			</figure>
		</div>	
	</div>	
	<div class="row tes">
		<div>
			<figure>
				<figcaption class="bc1">
					<h4 class="cc1">Como pesquisar ocorrências já cadastradas?</h4>
					<p>É só clicar no botão azul que fica no canto inferior direito com o símbolo de pesquisa (lupa). O próximo passo é preencher os dados da pesquisa e clicar em pesquisar! Os resultados da busca aparecerão no mapa (caso exista algum resultado referente à sua busca).</p>
				</figcaption>	
			</figure>
		</div>	
	</div>		
	<div class="row tes">
		<div>
			<figure>
				<figcaption class="bc1">
					<h4 class="cc1">Fui cadastrar uma ocorrência mas ela já estava registrada. E agora? (confirmação de ocorrência)</h4>
					<p>Se a ocorrência que você quer cadastrar já estiver registrada, <b>você deve confirmá-la</b>. Fazendo isso, você dará mais  relevância ao registro, já que estará aumentando o número de testemunhas do ocorrido. Para confirmar uma ocorrência, basta clicar no marcador do mapa referente a ocorrência e, depois, clicar no botão 'confirmar ocorrência'. Você será redirecionado para a página da ocorrência, onde todos os dados do registro estão disponíveis. Junto a sua confirmação, você pode deixar um comentário, caso ache necessário acrescentar algum detalhe relevante ao registro da ocorrência.</p>
				</figcaption>	
			</figure>
		</div>	
	</div>	
	<div class="row tes">
		<div>
			<figure>
				<figcaption class="bc1">
					<h4 class="cc1">Conheço uma linha de ônibus que não está registrada no sistema. Como eu posso ajudar? (Sugerir linha)</h4>
					<p>Você pode sugerir uma nova linha de ônibus à plataforma, abrindo o menu lateral e clicando em 'sugerir nova linha de ônibus'. Você será redirecionado para a página de sugestão de linha. Nessa página, você poderá pesquisar todas as linhas de ônibus registradas na onbus. Após confirmar que a linha não está cadastrada, marque a opção <b>'a linha não está cadastrada'</b> e um formulário para a sugestão aparecerá. Preencha o formulário e clique no botão 'Sugerir Linha'. Pronto! Você enviou sua sugestão e, depois de um período de aprovação, a linha estará disponível para todos os usários.</p>
				</figcaption>	
			</figure>
		</div>	
	</div>	
	<div class="row tes">
		<div>
			<figure>
				<figcaption class="bc1">
					<h4 class="cc1">Quero me tornar um usuário monitor. Como faço?</h4>
					<p>É só abrir o menu lateral e clicar em 'usuário monitor'. É importante ler os textos explicativos para que você entenda perfeitamente o que é um usuário monitor, quais suas funções e seus benefícios. Após ler, marque a opção <b>'Li, compreendi e quero me tornar um monitor'</b>, preencha o formulário e clique em confirmar. Pronto! Você se cadastrou como usuário monitor. Você receberá um e-mail de confirmação de registro, para fins de segurança.</p>
				</figcaption>	
			</figure>
		</div>	
	</div>	
</div>


