<div class="container padcima conteudoComentario">
	<div class="row tes">
		<figure>
			<figcaption class="bc1">
				<a href="#/info/colaboradores" title="Colaboradores" class="cc1">Desenvolvimento</a>
				<li>
					<b>Desenvolvedor</b>
					<p><b>Nome:</b><br>Teodoro Henrique Carvalho Sampaio</p>
					<p><b>E-mail:</b><br>teodorohenriquecarvalho@gmail.com</p>
					<!--<p><div class="imagem"><img src="img/teo.png"></div></p>-->
				</li>
				<li>
					<b>Consultor</b>
					<p><b>Nome:</b><br>Ricardo Henrique Gomes</p>
					<p><b>E-mail:</b><br>email de rics@gmail.com</p>
					<!--<p><div class="imagem"><img src="img/teo.png"></div></p>-->
				</li>
			</figcaption>	
		</figure>
	</div>	
	<div class="row tes">
		<figure>
			<figcaption class="bc1">
				<a href="#/info/colaboradores" title="Usuários monitores" class="cc1">Usuários monitores</a>
				<li>
					<b>Monitor</b>
					<p><b>Nome:</b><br>José pereira silva</p>
					<p><b>E-mail:</b><br>josepereirasilva@gmail.com</p>
					<!--<p><div class="imagem"><img src="img/teo.png"></div></p>-->
				</li>
				<li>
					<b>Monitor</b>
					<p><b>Nome:</b><br>Carlos Vieira Santos</p>
					<p><b>E-mail:</b><br>carlosvieira@gmail.com</p>
					<!--<p><div class="imagem"><img src="img/teo.png"></div></p>-->
				</li>
			</figcaption>	
		</figure>
	</div>	
	<div class="row tes">
		<figure>
			<figcaption class="bc1">
				<a href="#/info/colaboradores" title="Apoiadores" class="cc1">Apoiadores</a>
				<li>
					<b>Apoiador</b>
					<p><b>Nome:</b><br>IFMA</p>
					<p><b>Site:</b><br>www.sitedoifma.com</p>
					<!--<p><div class="imagem"><img src="img/teo.png"></div></p>-->
				</li>
			</figcaption>	
		</figure>
	</div>	
</div>
