<div class="container padcima conteudoComentario">
	<div class="row tes">
			<figure>
				<figcaption class="bc1">
					<a href="#/info/sobre" title="O que é a onbus?" class="cc1">o que é a onbus?</a>
					<p>Entenda o que é a onbus, quais seus objetivos, desafios e propostas.</p>
				</figcaption>	
			</figure>
	</div>	
	<div class="row tes">
		<div>
			<figure>
				<figcaption class="bc1">
					<a href="#/info/colaboradores" title="colaboradores" class="cc1">colaboradores</a>
					<p>Conheça as pessoas que colaboram com a onbus de alguma forma: desenvolvedores, usuários monitores, apoiadores.</p>
				</figcaption>	 
			</figure>
		</div>
	</div>	
	<div class="row tes">	
		<div>
			<figure>
				<figcaption class="bc1">
					<a href="#info/ajuda" title="ajuda" class="cc1">ajuda</a>
					<p>Aprenda a utilizar toda a plataforma onbus.</p>
				</figcaption>	
			</figure>
		</div>		
	</div>
</div>
