<div class="container padcima conteudoComentario">
	<div class="row tes">
		<div>
			<figure>
				<figcaption class="bc1">
					<h4 class="cc1">o que é a onbus?</h4>
					<p>A onbus é uma plataforma online colaborativa que fornece informações sobre o sistema de transporte público da ilha de São Luís. Por ser colaborativa, a plataforma é alimentada pela população usuária do transporte público.</p>
					<p>Uma das principais formas de contribuição que qualquer pessoa, a qualquer momento, pode realizar, é por meio do registro de uma ocorrência na plataforma (disponível no <a href="#/home">mapa</a>). No momento, a onbus aceita o registro de três tipos de ocorrências relacionadas aos ônibus que circulam na cidade. Os tipos são: <b>acidente</b>, <b>assalto</b> e <b>defeito</b>.</p>
					<p>Além de registrar uma ocorrência, o usuário pode confirmar a existência de uma ocorrência já cadastrada na plataforma, dando assim mais relevância aquela informação. Quanto maior o número de confirmações em uma ocorrência registrada, maior a credibilidade daquela informação.</p>
				</figcaption>	
			</figure>
		</div>	
	</div>	
	<div class="row tes">
		<div>
			<figure>
				<figcaption class="bc1">
					<h4 class="cc1">objetivos e desafios</h4>
					<p>O objetivo principal da onbus é melhorar a qualidade do sitema de transporte público da ilha de São Luís. Por meio da colaboração popular, esse objetivo se torna alcançável.</p>
					<p>Uma política muito importante para a onbus é fornecer informação ao usuário, de forma fácil e compreensível. Com posse dessa informação, o usuário terá ciência da atual situação do sistema de transporte público, baseada em dados fornecidos pela própria população.</p>
					<p>O grande desafio da onbus é encontrar formas de engajar os usuários na utilização da plataforma. Como é um ambiente colaborativo, o motor principal da onbus é o próprio cidadão usuário de transporte público, que participa do processo fornecendo dados para a plataforma.</p>
				</figcaption>	
			</figure>
		</div>	
	</div>		
	<div class="row tes">
		<div>
			<figure>
				<figcaption class="bc1">
					<h4 class="cc1">dados</h4>
					<p>Todos os dados registrados na onbus, em relação as ocorrências, são armazenados de forma totalmente anônima. Quando uma ocorrência é registrada na plataforma, apenas os dados referentes à própria ocorrência (localização, linha do ônibus, tipo de ocorrência, etc) são salvos no banco de dados da onbus.</p>
					<p>Por valorizar o fornecimento de informação ao usuário, qualquer dado salvo no banco de dados da onbus, referente as ocorrências, estará completamente disponível para ser acessado por qualquer pessoa, a qualquer momento, se assim o desejar. A liberdade de informação é um dos princípios mais importantes para a onbus.</p>
				</figcaption>	
			</figure>
		</div>	
	</div>	
</div>


